language: node_js
node_js:
  - "node"

script:
  - npm run lint
  - npm test -- --coverage

before_deploy:
  - npm run build
  - npm run build:storybook

deploy:
  - provider: pages
    skip_cleanup: true
    github_token: $GH_TOKEN
    keep_history: true
    local_dir: docs
    on:
      branch: unstable
      repo: rgsystemes/lib-ui
